<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="./style.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>
      <span>Malani Jewelers</span><br />
      Exclusive Catalogs & Look Books
    </h1>
    <hr />
    <section class="catalogs">
      <p>April' 2025</p>
      <div class="catalog-container">
        <div class="left">
          <div class="img-wrapper">
            <img
              src="./assets/images/MotherDayCatalog2025.webp"
              alt=""
              height="350px"
              width="243px" />
          </div>
        </div>
        <div class="right">
          <h2>Mother's Day Catalog 2025</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Modi, impedit praesentium fugit nobis, veniam molestias
            explicabo at debitis eum ipsam laudantium. Quasi, quidem
            quod! Illo modi in non corrupti veritatis.
          </p>
          <a
            href="http://"
            target="_blank"
            rel="noopener noreferrer">
            <button>View Catalog</button>
          </a>
        </div>
      </div>
      <p>October' 2024</p>
      <div class="catalog-container">
        <div class="left">
          <h2>Festive Catalog 2024</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Modi, impedit praesentium fugit nobis, veniam molestias
            explicabo at debitis eum ipsam laudantium. Quasi, quidem
            quod! Illo modi in non corrupti veritatis.
          </p>
          <a
            href="http://"
            target="_blank"
            rel="noopener noreferrer">
            <button>View Catalog</button>
          </a>
        </div>
        <div class="right">
          <div class="img-wrapper">
            <img
              src="./assets/images/FestiveCatalog2024.webp"
              alt=""
              height="350px" />
          </div>
        </div>
      </div>
      <p>April' 2025</p>
      <div class="catalog-container">
        <div class="left">
          <div class="img-wrapper">
            <img
              src="./assets/images/MotherDayCatalog2025.webp"
              alt=""
              height="350px" />
          </div>
        </div>
        <div class="right">
          <h2>Mother's Day Catalog 2025</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Modi, impedit praesentium fugit nobis, veniam molestias
            explicabo at debitis eum ipsam laudantium. Quasi, quidem
            quod! Illo modi in non corrupti veritatis.
          </p>
          <a
            href="http://"
            target="_blank"
            rel="noopener noreferrer">
            <button>View Catalog</button>
          </a>
        </div>
      </div>
      <p>October' 2024</p>
      <div class="catalog-container">
        <div class="left">
          <h2>Festive Catalog 2024</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Modi, impedit praesentium fugit nobis, veniam molestias
            explicabo at debitis eum ipsam laudantium. Quasi, quidem
            quod! Illo modi in non corrupti veritatis.
          </p>
          <a
            href="http://"
            target="_blank"
            rel="noopener noreferrer">
            <button>View Catalog</button>
          </a>
        </div>
        <div class="right">
          <div class="img-wrapper">
            <img
              src="./assets/images/FestiveCatalog2024.webp"
              alt=""
              height="350px" />
          </div>
        </div>
      </div>
      <p>April' 2025</p>
      <div class="catalog-container">
        <div class="left">
          <div class="img-wrapper">
            <img
              src="./assets/images/MotherDayCatalog2025.webp"
              alt=""
              height="350px" />
          </div>
        </div>
        <div class="right">
          <h2>Mother's Day Catalog 2025</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Modi, impedit praesentium fugit nobis, veniam molestias
            explicabo at debitis eum ipsam laudantium. Quasi, quidem
            quod! Illo modi in non corrupti veritatis.
          </p>
          <a
            href="http://"
            target="_blank"
            rel="noopener noreferrer">
            <button>View Catalog</button>
          </a>
        </div>
      </div>
      <p>October' 2024</p>
      <div class="catalog-container">
        <div class="left">
          <h2>Festive Catalog 2024</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Modi, impedit praesentium fugit nobis, veniam molestias
            explicabo at debitis eum ipsam laudantium. Quasi, quidem
            quod! Illo modi in non corrupti veritatis.
          </p>
          <a
            href="http://"
            target="_blank"
            rel="noopener noreferrer">
            <button>View Catalog</button>
          </a>
        </div>
        <div class="right">
          <div class="img-wrapper">
            <img
              src="./assets/images/FestiveCatalog2024.webp"
              alt=""
              height="350px" />
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
