@font-face {
  font-family: 'Abhaya Libre';
  src: url('http://malanijewelers.myshopify.com/cdn/shop/t/2/assets/AbhayaLibre-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Abhaya Libre';
  src: url('http://malanijewelers.myshopify.com/cdn/shop/t/2/assets/AbhayaLibre-Medium.ttf')
    format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Abhaya Libre';
  src: url('http://malanijewelers.myshopify.com/cdn/shop/t/2/assets/AbhayaLibre-SemiBold.ttf')
    format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Abhaya Libre';
  src: url('http://malanijewelers.myshopify.com/cdn/shop/t/2/assets/AbhayaLibre-Bold.ttf')
    format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Abhaya Libre';
  src: url('http://malanijewelers.myshopify.com/cdn/shop/t/2/assets/AbhayaLibre-ExtraBold.ttf')
    format('truetype');
  font-weight: 800;
  font-style: normal;
}

h1 span {
  color: #000;
  font-family: 'Abhaya Libre';
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

h1 {
  color: #000;
  font-family: 'Abhaya Libre';
  font-size: 4.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: small-caps;
  font-variant: small-caps;
  text-align: center;
  margin: 0;
  padding: 0;
}

hr {
  border: 0.015rem solid rgba(207, 169, 107, 0.5);
  width: 75%;
  margin: 0 auto;
  padding: 0;
}

.catalogs p {
  color: #737373;
  font-family: 'Abhaya Libre Medium';
  font-size: 1.1875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 100%;
  text-align: center;

  padding: 0;
  margin: 0;
}

.catalog-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2rem 0rem;
  position: relative; /* important for ::after positioning */
}

.catalog-container::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px; /* thickness of the line */
  background-color: rgba(
    207,
    169,
    107,
    0.5
  ); /* same gold-ish color */
  transform: translateX(-50%); /* perfectly center the line */
}

.catalog-container .left,
.catalog-container .right {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.catalog-container .right h2,
.catalog-container .left h2 {
  color: #000;
  font-family: 'Abhaya Libre Medium';
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin: 0;
  padding: 0;

  width: 100%;
  text-align: left;
}

.catalog-container .right p,
.catalog-container .left p {
  color: #000;
  font-family: 'Abhaya Libre';
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin: 0;
  padding: 0;

  width: 100%;
  text-align: left;
}

.catalog-container .right a button,
.catalog-container .left a button {
  border-radius: 3.125rem;
  background: rgba(207, 169, 107, 0.2);
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  border: none;
  padding: 0.5rem;
  width: 10rem;
}

.img-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.img-wrapper::after {
  content: '';
  position: absolute;
  bottom: -10%; /* adjust as needed */
  left: 20%; /* adjust as needed */
  width: 60%;
  height: 65%;
  background: rgba(207, 169, 107, 0.17);
  z-index: -1; /* behind the image */
}

.img-wrapper img {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
